.page-title {
  display: block !important;
  text-align: center;
}

.button.post-button {
  margin-bottom: 8px;
}

div.form-container {
  width: 350px;
  margin: auto;
}

.ui.error.message {
  position: absolute;
  left: 106px;
  bottom: 13px;
}

.ui.card .ui.button {
  padding: 10px 10px;
}

.ui.teal.button:focus, .ui.teal.buttons .button:focus {
  background-color: #00B5AD;
}